@import "tailwindcss";

@theme {
    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --color-light-blue: #6DE8E9;
    --color-sky-blue: #529DFF;
}

@layer base{
    .hero-ring{
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-light-blue/10 shadow-[0_0_80px_inset] shadow-light-blue/5
    }
}